body {
    background: rgba(42,86,46,1);
    background: linear-gradient(0deg, rgba(42,86,46,1) 0%, rgba(90,174,61,1) 100%);
    margin: 0;
    min-width: 750px;
}

h2 {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
}

span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
}

#nav-bar {
    display: grid;
    position: sticky;
    width: 100%;
    min-width: 750px;
    grid-template-rows: 5rem;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    background-color: hsl(120, 12%, 32%);
}

#logo {
    grid-column: 1 / span 2;
    max-height: 4.5rem;
    width: auto;
    justify-self: center;
    align-self: center;
}

#nav-1 {
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
}

#nav-2 {
    grid-column: 4 / 5;
    justify-self: center;
    align-self: center;
}

#nav-3 {
    grid-column: 5 / 6;
    justify-self: center;
    align-self: center;
}

#videos-container {
    display: grid;
    width: 100vw;
    min-width: 750px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1rem solid tan;
}

#vid-1 {
    grid-column: 1 / 2;
}

#vid-2 {
    grid-column: 2 / 3;
}

#vid-3 {
    grid-column: 3 / 4;
}

#images-container {
    display: grid;
    width: 100vw;
    min-width: 750px;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(3, 1fr);
}

#images-container img {
    height: 100%;
    object-fit: cover;
}

#gator {
    grid-area: 1 / 1 / span 3 / span 1;
}

#goal {
    grid-area: 1 / 2 / span 2 / span 1;
}

#bird {
    grid-area: 1 / 3 / span 1 / span 1;
}

#kangaroo {
    grid-area: 2 / 3 / span 1 / span 1;
}

#llama {
    grid-area: 3 / 2 / span 1 / span 1;
}

#squirrel {
    grid-area: 3 / 3 / span 1 / span 1;
}