body {
    background: rgba(42,86,46,1);
    margin: 0;
    min-width: 750px;
}

h2 {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 0;
}

span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(7, 60, 6);
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: rgba(42,86,46,1);
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#nav-bar {
    display: grid;
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    grid-template-rows: 5rem;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    background-color: hsl(120, 12%, 32%);
}

#logo {
    grid-column: 1 / span 2;
    max-height: 4.5rem;
    width: auto;
    justify-self: center;
    align-self: center;
}

#nav-1 {
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
    color: white;
}

#nav-2 {
    grid-column: 4 / 5;
    justify-self: center;
    align-self: center;
    color: white;
}

#nav-3 {
    grid-column: 5 / 6;
    justify-self: center;
    align-self: center;
    color: white;
}

#top {
    background: linear-gradient(0deg, rgba(42,86,46,1) 0%, rgba(90,174,61,1) 100%);
}

#top h2 {
    transform: translate(0, 20px);
}

#videos-container {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1rem solid tan;
}

#vid-1 {
    grid-column: 1 / 2;
}

#vid-2 {
    grid-column: 2 / 3;
}

#vid-3 {
    grid-column: 3 / 4;
}

#images-container {
    display: grid;
    width: 100%;
    height: 940px;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: 1fr 400px 400px 400px 1fr;
    gap: 20px;
    margin: 40px auto;
    padding: 20px 0px 20px 0px;
    background-color: white;
}

.grid-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#gator {
    grid-area: 1 / 2 / span 3 / span 1;
}

#goal {
    grid-area: 1 / 3 / span 1 / span 2;
}

#bird {
    grid-area: 2 / 3 / span 1 / span 1;
}

#kangaroo {
    grid-area: 2 / 4 / span 1 / span 1;
}

#llama {
    grid-area: 3 / 3 / span 1 / span 1;
}

#squirrel {
    grid-area: 3 / 4 / span 1 / span 1;
}