body {
    background-color: hsl(122, 45%, 28%);
    margin: 0;
}

h2 {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: white;
    margin: 0 auto;
}

span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4rem;
    color: white;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
}

video {
    width: 100%;
    height: auto;
}

#nav-bar {
    display: grid;
    position: sticky;
    width: 100%;
    grid-template-rows: 5rem;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    background-color: hsl(120, 12%, 32%);
}

#logo {
    grid-column: 1 / span 2;
    max-height: 4.5rem;
    width: auto;
    justify-self: center;
    align-self: center;
}

#nav-1 {
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
}

#nav-2 {
    grid-column: 4 / 5;
    justify-self: center;
    align-self: center;
}

#nav-3 {
    grid-column: 5 / 6;
    justify-self: center;
    align-self: center;
}

#videos-container {
    display: grid;
    width: 100vw;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
}

#vid-1 {
    grid-column: 1 / 2;
}

#vid-2 {
    grid-column: 2 / 3;
}

#vid-3 {
    grid-column: 3 / 4;
}